<main role="main" id="col-green"><br><br>
  <h1 style="text-align: center; font-size: 45px; color: #FF3366;">Acerca de Nosotros</h1><br><br>
  <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
          <img src="../../assets/imagenes/banner.png" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="">
      </div>
      <div class="col-lg-1">
      </div>
  </div>

  <div class="container">
      <p id="parrafo"><br><br>
          En <em><strong>MiraFlor</strong></em> trabajamos durante 24 años ofreciendo lo mejor de la producción de rosas.<br>
          Arreglos florales para todas las ocasiones: te amo, florales de aniversarios, arreglos florales de amor, 
          arreglos florales para cumpleaños, arreglos para cumpleaños de niña, arreglos para nacimiento, arreglos 
          para cumpleaños de mujer, arreglo de frutas y chocolates, arreglos de frutas bañadas en chocolate, 
          arreglos florales con orquídeas, arreglos florales para amigas y también para aquellos momentos 
          inevitables disponemos de arreglos florales para funeral y arreglos florales para velorios.
          Somos una empresa especializada en entregar arreglos florales en Quito y pertenecemos al grupo de 
          Floristerías Quito que trabajamos diariamente en la tarea de llevar sentimientos de afecto, amor, 
          respeto y aprecio a todas aquellas personas especiales a través de nuestros únicos y exclusivos arreglos.<br><br><br>
      </p>
      <p style="text-align:left; color: #FF3366; font-size: 45px;">Misión</p>
      <p id="parrafo"><br>
          Proporcionar a los clientes flores de calidad en el tiempo oportuno, fechas y ocasiones especiales al 
          mejor precio.<br>
          Dar detalles pequeños, grandes, o medianos para diferentes situaciones, ocasiones o circunstancias, 
          se garantiza reserva total si el cliente lo pide.<br><br><br>
      </p>
      <p style="text-align:left; color: #FF3366; font-size: 45px;">Visión</p>
      <p id="parrafo"><br>
          Ver cada detalle transformado en un lenguaje diferente, ya sea este el lenguaje de las flores, 
          y así alcanzar una gran reputación comercial tanto por su seriedad, calidad y excelente servicio.<br><br><br><br>
      </p>
  </div>

  
  
</main>