<main role="main">
  <div id="back_black" class="row image-center" >
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <div class="centro" style="padding-top: 4%;">
              <img src="../../../assets/imagenes/White/white_b.png" width="90%" height="190" frameborder="0" style="border:0;">
          </div>
      </div>
      <div class="col-md-3"></div>

      <div class="row" style="padding-top: 5%;">
          <div class="col-md-3" class="active" *ngFor="let producto of productos">
              <img src="../../../assets/imagenes/{{producto.imagen}}" width="80%" height="80%" frameborder="0" style="border:0;">
              <p>({{producto.codigo}}) &ensp;&ensp; ${{producto.precio}} &ensp;&ensp;<a href="#/carrito"><img src="../../../assets/imagenes/carrito_compras_white.png" width="20" height="20"></a></p>
          </div>
      </div>
  </div><br>

</main>