<body>
  <div class="card card-default">
    <div class="card-header">
        <h1 style="text-align: center">
          Realizar pedido
        </h1>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <div class="card card-default">
          <div class="card-header">
              <h2 style="text-align: center">
                  <i class="pi pi-shopping-cart" ></i>
                  Productos disponibles
              </h2>
          </div>
          <div class="card-body" style="max-height: 500px;overflow-y: auto;overflow-x: auto;  ">
            <div class="row">
              <table class="table table-striped text-center" style="margin: 10px; ">
                  <thead class="thead-dark">
                    <tr >
                      <th >Código</th>
                      <th >Producto</th>
                      <th >Imagen</th>
                      <th >Precio </th>
                      <th >Agregar</th>
            
            
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active" *ngFor="let producto of productos">
                      <td style="vertical-align: middle;"> {{producto.codigo}}</td>
                      <td style="vertical-align: middle;">  {{producto.nombre}}</td>
                      <td > 
                        <img src="../../assets/imagenes/{{producto.imagen}}" alt="" height="50%">
                      </td>
                      <td style="vertical-align: middle;" >{{producto.precio}}</td>
                      <td style="vertical-align: middle;">
                        <button class="btn btn-success" (click)="agregarProducto(producto.codigo,producto.nombre,producto.precio,prod)">+1</button>
                      </td>
                    </tr>
            
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="card card-default">
          
        <div class="card-header">
            <h2 style="text-align: center">
                <i class="pi pi-dollar" ></i>
                Carrito
            </h2>
        </div>
        <div class="card-body " style="max-height: 500px;overflow-y: auto;overflow-x: auto;  ">
            <div class="row">
              <div class="col-lg-12">

                  <table class="table table-striped text-center" >
                      <thead class="thead-dark">
                        <tr >
                          <th >Código</th>
                          <th >Producto</th>
                          <th>Cantidad (Bouquet x16 Rosas)</th>
                          <th>Valor U.</th>
                          <th>Valor T.</th>
                          <th>Quitar</th>
                
                
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="active" *ngFor="let producto of productosAgregados">
                          <td >{{producto.codigo}}</td>
                          <td >{{producto.nombre}}</td>
                          <td >{{producto.cantidad}}</td>
                          <td >{{producto.precio}}</td>
                          <td >{{producto.precioTotal}}</td>
                          <td >
                            <button class="btn btn-danger" (click)="restarProducto(producto.nombre,producto.precio)">-1</button>
                          </td>
                        </tr>
                
                      </tbody>
                    </table>
              </div>
              
            </div>
        </div>
        <br>
        <h3 class="text-center">Total: $ {{total}} </h3>
        <div class="text-center">
          <button class="btn btn-outline-success btn-lg" (click)="completarCompra()">
            Completar compra
          </button>
        </div>
        <br>
        </div>
      </div>
    </div>
  </div>
</body>
