<main id="back_black" role="main">
  <div class="row">
      <div class="col">
          <h4 class="text-center" style="font-size: 55px; padding: 4%;font-weight: bold;">C a t á l o g o  2 0 1 9</h4>
      </div>
  </div>

  <div id="back_black" class="row image-center" >
      <div class="col-md-4" >
          <div class="loc centro">
              <a style="text-decoration:none;" href="#/white">
                  <img src="../../assets/imagenes/Rosas/white.png" class="img-fluid" title="Rosas blancas" />
                  <span class="faldon">-White-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/spay roses.png" class="img-fluid" title="Rosas spray" />
                  <span class="faldon">-Spray Roses-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4 "> 
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/leavender.png" class="img-fluid" title="Rosas lavanda" />
                  <span class="faldon">-Spray Roses-</span>
              </a>
          </div>
      </div>
  </div><br>
  <div id="back_black" class="row image-center" >
      <div class="col-md-4" >
          <div class="loc centro">
              <a style="text-decoration:none;" href="#/light-pink">
                  <img src="../../assets/imagenes/Rosas/light pink.png" class="img-fluid" title="Rosas Light pink" />
                  <span class="faldon">-Light Pink-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/ranunculus.png" class="img-fluid" title="Rosas Ranunculus" />
                  <span class="faldon">-Ranunculus-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4 "> 
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/orange.png" class="img-fluid" title="Rosas Orange" />
                  <span class="faldon">-Orange-</span>
              </a>
          </div>
      </div>
  </div><br>
  <div id="back_black" class="row image-center" >
      <div class="col-md-4" >
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/got pink.png" class="img-fluid" title="Got Pink" />
                  <span class="faldon">-Got Pink-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/ranunculus2.png" class="img-fluid" title="Ranunculus" />
                  <span class="faldon">-Ranunculus-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4 "> 
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/yellow.png" class="img-fluid" title="Yellow" />
                  <span class="faldon">-Yellow-</span>
              </a>
          </div>
      </div>
  </div><br>
  <div id="back_black" class="row image-center" >
      <div class="col-md-4" >
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/bicolor.png" class="img-fluid" title="Bicolor" />
                  <span class="faldon">-Bicolor-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/cream.png" class="img-fluid" title="Cream" />
                  <span class="faldon">-Cream-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4 "> 
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/red'.png" class="img-fluid" title="Red" />
                  <span class="faldon">-Red-</span>
              </a>
          </div>
      </div>
  </div><br>
  <div id="back_black" class="row image-center" >
      <div class="col-md-4" >
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/garden roses.png" class="img-fluid" title="Garden Roses" />
                  <span class="faldon">-Garden Roses-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="loc centro">
              <a style="text-decoration:none;" href="#/pink">
                  <img src="../../assets/imagenes/Rosas/pink.png" class="img-fluid" title="Pink" />
                  <span class="faldon">-Pink-</span>
              </a>
          </div>
      </div>
      <div class="col-md-4 "> 
          <div class="loc centro">
              <a style="text-decoration:none;" href="inicio">
                  <img src="../../assets/imagenes/Rosas/garden T roses.png" class="img-fluid" title="Garden Type Roses" />
                  <span class="faldon">-Garden Type Roses-</span>
              </a>
          </div>
      </div>
  </div><br>
  <p style="text-align: center; color: #FF3366; font-size: 25px;">
      Nota: Los precios que se detallan a continuación es por cada bouquet de 16 rosas.</p><br>

</main>
