<main role="main">
  <div class="row" style="background-color: black;">
      <div class="col">
          <h1 style="text-align: center; font-size: 45px; color: #FF3366; padding-top: 2%;">Ofertas</h1><br><br>
      </div>
  </div>
  <h4 style="font-size: 40px; padding: 1%;background-color: black;">En Diciembre</h4>
  <p id="back_black"  style="padding-left: 2%;">
      No te pierdas nuestras ofertas!!<br>
      Sólo por este mes 2 x 1 en bouquets de flores SPRAY ROSES. 
  </p>
  <div id="back_black" class="row image-center" >
      <div class="row centro" style="padding-top: 3%;">
          <div class="col-md-6">
              <img src="../../assets/imagenes/ofertas/amazingBubbles.png" width="80%" height="80%" frameborder="0" style="border:0;">
              <p>$32 &ensp; (Pague 1, reciba 2) &ensp;<a href="#/carrito"><img src="../../assets/imagenes/carrito_compras_white.png" width="20" height="20"></a></p>
          </div>
          <div class="col-md-6">
              <img src="../../assets/imagenes/ofertas/BBubbles.png" width="80%" height="80%" frameborder="0" style="border:0;">
              <p>$30 &ensp; (Pague 1, reciba 2) &ensp;<a href="#/carrito"><img src="../../assets/imagenes/carrito_compras_white.png" width="20" height="20"></a></p>            </div>
      </div>
      <div class="row centro" style="padding-top: 3%;">
          <div class="col-md-6">
              <img src="../../assets/imagenes/ofertas/brightSensation.png" width="80%" height="80%" frameborder="0" style="border:0;">
              <p>$32 &ensp; (Pague 1, reciba 2) &ensp;<a href="#/carrito"><img src="../../assets/imagenes/carrito_compras_white.png" width="20" height="20"></a></p>
          </div>
          <div class="col-md-6">
              <img src="../../assets/imagenes/ofertas/constellation.png" width="80%" height="80%" frameborder="0" style="border:0;">
              <p>$30 &ensp; (Pague 1, reciba 2) &ensp;<a href="#/carrito"><img src="../../assets/imagenes/carrito_compras_white.png" width="20" height="20"></a></p>            </div>
      </div>
      <div class="row centro" style="padding-top: 3%;">
          <div class="col-md-6">
              <img src="../../assets/imagenes/ofertas/cream Iris.png" width="80%" height="80%" frameborder="0" style="border:0;">
              <p>$32 &ensp; (Pague 1, reciba 2) &ensp;<a href="#/carrito"><img src="../../assets/imagenes/carrito_compras_white.png" width="20" height="20"></a></p>
          </div>
          <div class="col-md-6">
              <img src="../../assets/imagenes/ofertas/hot Bubbles.png" width="80%" height="80%" frameborder="0" style="border:0;">
              <p>$30 &ensp; (Pague 1, reciba 2) &ensp;<a href="#/carrito"><img src="../../assets/imagenes/carrito_compras_white.png" width="20" height="20"></a></p>            </div>
      </div>
  </div>


</main>